:root {
  --blue: #046af3;
  --dark: #07074d;
  --white: #ffffff;
  --light: #79828e;
  --light-grey: #ececec;
  --green: #01d066;
  --red: #fd3758;
}

* {
  padding: 0;
  margin: 0;
}
.padding-left-8px {
  padding-left: 8px;
}
.padding-left-12px {
  padding-left: 12px;
}
.padding-right-16px {
  padding-right: 16px;
}
.padding-left-48px {
  padding-left: 48px;
}
.dark-color {
  color: var(--dark);
}
.green-color {
  color: var(--green);
}
.red-color {
  color: var(--red);
}
.light-color {
  color: var(--light);
}

body {
  height: 100vh;
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
  color: var(--white);
}
aside {
  position: fixed;
  background-color: var(--dark);
  height: 100%;
  width: 240px;
  text-align: center;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  margin-top: 12px;
  padding: 40px;
}

.sidebar-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 16px;
  color: var(--white);
}
.sidebar-link-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;

  margin-left: 284px;
}

.top-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 40px;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.third-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="search"] {
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  padding-right: 330px;
  padding-left: 48px;
  padding-top: 14px;
  padding-bottom: 14px;
}
input[type="date"] {
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  color: var(--light);
  padding: 14px 18px;
}
.current-user p {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 8px;
  color: var(--light);
  padding: 8px 16px;
}
.current-user p i {
  color: var(--blue);
}

.price-section {
  background-color: var(--white);
  width: 100%;
  max-width: 228px;
  margin-top: 20px;
  max-height: 386px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  flex: 1;
}
.price-section-inner {
  margin-top: 48px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.select-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
select {
  color: var(--light);
  border: 1px solid var(--light-grey);
}

.transaction-summary {
  display: flex;
  flex-direction: column;
  background-color: var(--white);

  height: 386px;
  margin-top: 20px;
  max-width: 386px;
  text-align: left;
  border-radius: 8px;
}
.transaction-summary h2 {
  margin-top: 24px;
}
.transaction-summary-inner {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 40px;
}
.transaction-days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.transaction-footer {
  display: flex;
  flex-direction: row;
  margin: 0 24px;
  gap: 8px;
}
.transaction-footer-inner {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.user-section {
  background-color: var(--white);
  margin-top: 20px;
  border-radius: 8px;
  width: 220px;
  height: 486px;
}
.user-section h2 {
  margin-top: 32px;
  margin-left: 24px;
}
.user-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.user-select select {
  background-color: var(--light);
  color: var(--dark);
  border-radius: 4px;
  padding: 3px;
}

.user-inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.user-inner1,
.user-inner2,
.user-inner3,
.user-inner4,
.user-inner5 {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  width: 168px;

  height: 68px;
  align-items: center;
}
.user-inner-price {
  margin-left: 16px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stats-1,
.stats-2,
.stats-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;
  width: 228px;
  height: 84px;
  background-color: var(--white);
  border-radius: 8px;
}
.first-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.active-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  text-align: center;
  height: 284px;
  margin-top: 20px;
  max-width: 386px;
  border-radius: 8px;
}
.active-cards h3 {
  margin-right: 150px;
  padding: 16px;
}

.active-cards-inner {
  background-color: var(--blue);
  width: 262px;
  height: 164px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  color: var(--white);
  gap: 20px;
}
.card-image {
  margin-right: 200px;
}
.card-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
